# Hopkins dataset

Перед вами датасет по заболеваниям Covid-19. Мы предобработали данные, чтобы вам было проще с ними работать.

In [1]:
from covid import Covid
import pandas as pd
import datetime
import seaborn as sns

#we used John Hopkins dataset
#But it also contains non-countries values
covid_hopkins = Covid(source="john_hopkins")
covid_world = Covid(source="worldometers")

In [2]:
data_hopkins = pd.DataFrame(covid_hopkins.get_data())
data_hopkins.last_update = data_hopkins.last_update / 1e3
data_hopkins = data_hopkins.drop(["active", "recovered"], axis=1)
data_hopkins = data_hopkins.astype({"id" : "int32", "country" : "str", 
                     "confirmed" : "int64", "deaths" : "int64", "latitude" : "float", 
                    "longitude" : "float", "last_update" : "int64"})
data_hopkins.last_update = pd.to_datetime(data_hopkins.last_update, unit="s")
data_hopkins = data_hopkins.sort_values(by=["confirmed"], ascending=False)
data_hopkins

,id,country,confirmed,deaths,latitude,longitude,last_update
0,183,US,47221549,764363,40.000000,-100.00000,2021-11-16 03:21:30
1,80,India,34447536,463655,20.593684,78.96288,2021-11-16 03:21:30
2,24,Brazil,21960766,611346,-14.235000,-51.92530,2021-11-16 03:21:30
3,187,United Kingdom,9649233,143384,55.000000,-3.00000,2021-11-16 03:21:30
4,145,Russia,8956136,251796,61.524000,105.31880,2021-11-16 03:21:30
...,...,...,...,...,...,...,...
191,113,Marshall Islands,4,0,7.131500,171.18450,2021-11-16 03:21:30
192,150,Samoa,3,0,-13.759000,-172.10460,2021-11-16 03:21:30
193,92,Kiribati,2,0,-3.370400,-168.73400,2021-11-16 03:21:30
194,117,Micronesia,1,0,7.425600,150.55080,2021-11-16 03:21:30
195,179,Tonga,1,0,-21.179000,-175.19820,2021-11-16 03:21:30

Определите для данного датасета:

    1. среднее
    2. медиану
    3. стандартное отклонение
    4. межквартильное расстояние
    5. матрицу корреляции
    
    
Сделайте вывод о том, какие переменные скоррелированы и почему.